/* Tab buttons */
.tab-btn {
  padding-bottom: 0.5rem;
  font-weight: 600;
  background: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.tab-btn:hover {
  background-color: black;
  color: white;
  border-radius: 4px;
}

.tab-btn.active {
  border-bottom: 3px solid black;
}

